.searchBar {
    height: 4rem;
    width: 100%;
    background-color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        width: 55px;
        height: 43px;
    }

    .searchInputContainer {
        display: flex;
        align-items: center;
        margin: 0 1rem 0 1rem;
        width: 70%;
    }
}