@import 'base';
@import 'colors';

html,
body,
div#root {
  @include full-page;
  margin: 0;
  padding: 0;
  background-color: $lightGray;
}

@import 'components/searchBar';
@import 'components/inputs';
@import 'components/buttons';